<div bsModal class=" row modal fade" #addMovieModal="bs-modal" tabindex="1" role="dialog" aria-labelledby="addMovieModal"
     aria-hidden="true" (onHide)="this.addMovieForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="addMovieForm">

    <form class="text-center border border-light p-5" [formGroup]="addMovieForm">
      <p class="h4 mb-4">Add movie</p>
      <label>Title</label>
      <input type="text" class="form-control mb-4" formControlName="title" autocomplete="off" style="text-align: center" />
      <label>Picture</label>
      <input type="text" class="form-control mb-4" formControlName="picture" autocomplete="off" />
      <label>Story line:</label>
      <textarea type="text" class="form-control mb-4" formControlName="storyLine"autocomplete="off"></textarea>
      <label>Release year:</label>
      <input type="number" class="form-control mb-4" formControlName="releaseYear" autocomplete="off" style="text-align: center" />
      <label>Category</label>
      <input type="text" class="form-control mb-4" formControlName="category" autocomplete="off" style="text-align: center" />
      <label>Box office</label>
      <input type="text" class="form-control mb-4" formControlName="boxOffice" autocomplete="off" style="text-align: center" />
      <button class="btn btn-outline-light" id="add-movie" block=true [disabled]="addMovieForm.invalid || addMovieForm.pristine" (click)="createMovie()">Add</button>
    </form>

  </div>
</div>

