<body style="background-color:white">
  <app-nav-menu></app-nav-menu>
  <div id="story">
    <h3>Welcome to the world of art!</h3>
    <p>Whether you are here to find out more about movies or you want to share some knowledge about the amazing world of cinema, make sure you're having a fun time.</p>
    <h3>Because we all need to believe in movies, sometimes.</h3>
  </div>

  <carousel autoplay="true" autoplayInterval="2000" id="carousel">
    <div class="carousel-cell">
      <img src="./assets/img/shawshank.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/avatar.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/notebook.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/pirates.jfif">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/se7en.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/titanic.jfif">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/casablanca.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/knight.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/oz.jfif">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/starwars.jfif">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/lord.jfif">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/schindler.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/fightclub.jpg">
    </div>
    <div class="carousel-cell">
      <img src="./assets/img/forestgump.jfif">
    </div>

  </carousel>
</body>
