<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="">
            Our mission
          </a>
        </li>
        <li>
          <a href="">
            Contact us
          </a>
        </li>
        <li>
          <a href="">
            Useful informations
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with love by
      <a href="" target="_blank">Moviepedia team</a> for a better world.
    </div>
  </div>
</footer>
