.detail {
  font-size: 25px;
  font-weight: 400;
}

#p1 {
  text-align: center;
  font-weight: 400;
  padding-top: 5px;
  margin-bottom: 0;
  overflow: hidden;
  color: #a366ff;
  font-size: smaller;
}


#container-content {
  text-align: center;
}

form {
  margin: auto;
  padding-bottom: 30px;
}

.add {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 22px;
  color: black;
}

img {
  width: 90%;
  height: 50vh;
  padding-left: 2vw;
}

.view .mask {
  height: 88%;
}


#details-button:hover {
  background-color: #eee;
  color: #b380ff;
}

#details-button {
  background-color: #b380ff;
}
