<div class="main-content">
  <div class="main-info">
    <img [src]="movie.picture" style="float: left; height:60vh; width: auto; padding-bottom: 3vh;" />
    <div style="position: relative; left: 3vw; font-weight: 400; text-align: justify; padding-right: 3vw;">
      <button class="btn btn-outline-light" id="edit-button" style="float:right">Edit</button>
      <button class="btn btn-outline-light" id="delete-button" style="float:right">Delete</button>
      <h2>{{movie.title}}</h2>

      <p>Category: {{movie.category}}</p>
      <p>Release year: {{movie.releaseYear}}</p>
      <p>Box office: {{movie.boxOffice}}</p>
      <p>{{movie.storyLine}}</p>
    </div>
    <div>
      <br />
      <p>Main actors:</p>
      <ng-container *ngFor=" let actor of movie.actors;">
        <div class="view col mb-3 mr-3 p-0 hoverable" style="max-height: 20vh">

          <img [src]="actor.picture" class="img-fluid z-depth-1 rounded" alt="hoverable" style="height:20vh" />
          
          <p style="position:relative; left: 10vw; top: -20vh;">{{actor.firstName}} {{actor.lastName}}</p>
          <p style="position:relative; left: 10vw; top: -22vh; font-size: smaller">{{actor.age}} years old</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>

