<div class="logo" style="text-align: center;">
  <!-- <div class="logo-img">
      <img src="https://ibb.co/ct7sKqm/">
  </div> -->
  <a href="/" style="color:black">
    Moviepedia
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
